body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header,
.footer {
    background-color: #1F2937;
    color: white;
    padding: 0 50px;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    margin: 0;
}

#logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.top {
    display: flex;
    background-color: #1F2937;
    padding: 100px 50px;
    color: #F9FAF8; 
    justify-content: space-between;
}

.top .left {
    display: flex;
    flex-direction: column;
}

.top .title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-right: auto;
    padding: 10px 0;
}

.top .left .description {
    width: 500px;
    text-align: left;
    padding: 10px 0;
}

.top .left .button {
    background-color: #3882F6;
    width: 70px;
    text-align: center;
    padding: 10px;
}

.top .right {
    display: flex;
    background-color: grey;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.middle {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#info_header {
    padding: 50px 0;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    color: #1F2937;
}

.boxes {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}
.blue_boxes {
    border-style: solid;
    border-width: 5px;
    border-color: #3882F6;
}

.footer {
    text-align: center;
    padding: 10px 0;
}







